<%# add navigation links to this file %>
<li><%= link_to 'Pinholes', pinholes_path %></li>
<li><%= link_to 'Transcendence', transcendences_path %></li>
<li><%= link_to 'Social Concerns', social_concerns_path %></li>
<li><%= link_to 'Memento-mon', mementos_path %></li>
<li><%= link_to 'Promise', promises_path %></li>
<li><%= link_to 'Perspective of the Eternal Soul', perspectives_path %></li>
<li><%= link_to 'Portraits', portraits_path %></li>


